*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: crimson;
}
body main section{
    background-color: aliceblue;
    margin: auto;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgba(140, 3, 28, 0.495);
    text-align: center;
}
main section .picture{
    margin: 20px;
    width: 400px;
}
main section .picture img{
    width: 450px;
    margin-left: -50px;
}
main section .picture p{
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: -100px;
    margin-top: 20px;
    max-width: 300px;
    font-size: 20px;
    font-weight: 600;
}
main section .form{
    width: 400px;
}
main section .form img{
    width: 150px;
    margin-top: 50px;
}
body main section h1{
    margin-bottom: 20px;
    font-size:40px;
}
body main section a{
    text-decoration: none;
    background-color: crimson;
    margin-top: 40px;
    color: aliceblue;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(143, 143, 143, 0.495);
}
main section .enviar{
    background-color: rgb(10, 207, 106);
    display: none;
}
main section .display{
    background-color: crimson;
    box-shadow: 5px 5px 10px rgba(143, 143, 143, 0.395);
    padding: 20px;
    border: 2px solid crimson;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    max-width: 500px;
    height: 400px;
}
main section .display h3{
    color: aliceblue;
    font-size: 35px;
}
main section .display p{
    color: aliceblue;
}
main section .requerition:hover{
    background-color: rgb(193, 14, 50);
}
body form label {
    font-weight: 600;
    font-size: 20px;
}
body form input{
    border: none;
    width: 250px;
    background-color: aliceblue;
    outline: none;
    box-shadow: 10px 10px 10px rgba(140, 3, 28, 0.495);
    border-radius: 5px;
    padding: 5px;
}

@media (max-width: 900px) {
    body main section{
        margin-top: 0px;
    }
    main section .picture p{
        margin-top: 20px;
        padding: 10px;
        margin-bottom: 0px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
    }
    main section .picture img{
        width: 450px;
        margin-left: -20px;
    }
}